:root {
    --gray: #212121;
    --green: #009660;
    --white: #e9e9e9;
    --black: #0c0c0c;
    --lgray: #929292;

}

@font-face {
    font-family: chacha;
    src: url(./NeueMachina-Regular_DqCmjH1st.ttf);
}
@font-face{
    font-family: hellb;
    src: url(./NelveticaNowOisplay-Bold_VWHV5twUMR.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

body {
    background: var(--black);
}

.green {
    color: var(--green);
}

.lgray {
    color: var(--lgrayy);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 15px 70px;



    .nav-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 300px;

    }

    .nav-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .nav-2 h4 {
        font-size: 20px;
        font-weight: 100px;
        font-family: monospace;
    }
}

.nav-2 h4 i {
    font-size: 10px;
}

.nav-1 img {
    height: 45px;
}

.nav-2 h5 {
    font-size: 20px;
    display: none;

}

.nav-3 {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-3 h4 {
    font-size: 20px;
    font-weight: 100px;
    font-family: monospace;
}

.nav-3 h5 {
    font-size: 20px;
    display: none;
}

main {
    padding-top: 100;
}

.section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;
    font-family: hell;
}


.section1 .left {
    width: 41%;
}

.section1 .left h1 {
    font-size: 45px;
}


.section1 .left .tags {
    display: flex;
    align-items: center;
    gap: 5px 5px;
    flex-wrap: wrap;
    margin: 30px 0;

}
.left-price{
    font-size: 35px;
}

.left .price {
    font-size: 20px;
    font-weight: 800;
}



.section1 .left .tags h4 {
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: var(--gray);

}

.section1 .left .cta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.cta button {
    background: var(--green);
    padding: 20px 60px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.cta button:ntn-child(2) {
    background-color: var(--gray);
}


.section1 .left .tags h4 .lgray{
    font-size: 10px;
}


.section1 .right .right-in {
    width: 650px;
    border-radius: 9px;
    overflow: hidden;
}

.section1 .right .right-in .image {
    width: 100%;
    height: 350%;
}


.section1 .right .right-in .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.section1 .right .right-in .image-bottom {
    padding: 20px;
    background-color: var(--gray);
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

}

.right-in .image-bottom h4 {
    background-color: #151515;
    padding: 10px 15px;
    border-radius: 5px;
    width: 45%;
}

@media(max-width:1400px) {
    .section1 .left h1 {
        font-size: 3.5vw;
    }

}


@media(max-width:800px) {
    main {
        padding-top: 50px;
    }

    .section1 {
        flex-direction: column-reverse;
        padding: 15px 5vw;
    }

    .section1 .left {
        width: 100%;
        margin-top: 30px;
    }

    .section1 .left h1 {
        font-size: 33px;
    }

    .section1 .right .right-in {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }
    .section1 .right .right-in .image {
    width: 100%;
    height: 50vw;
}

.section1 .right .right-in .image-bottom {
    padding: 10px;
    padding-top: 0px;
    gap: 8px;
}
.right-in .image-bottom h4 {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 3vw;
    width: 45%;
}
.left-price{
    font-size: 5vw;
}

.left .price {
    font-size: 3vw;
    font-weight: 800;
}



.section1 .left .tags h4 {
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: var(--gray);

}

.section1 .left .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}

.cta button {
    background: var(--green);
    padding: 15px 0;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}



}


@media(max-width:800px) {
    .section1 .left h1 {
        font-size: 5vw;
    }

}
.section2{
    padding: 100px  70ox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section2 h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    background-image: url(https://freepixel-prod.s3.amazonaws.com/preview/free-illustration-graphics-a-large-colorful-and-vibrant-splash-of-paint-on-a-canvas-creating-an-abstract-and-eye-catching-piece-preview-1004061076.jpg);
    background-size: cover;
    background-clip: text;
    color: transparent;
}
.section2 h3{
    font-size: 50px;
    font-family: hell;
    text-transform: capitalize;
    letter-spacing: -1px;
}